environment:
  matrix:
    - nodejs_version: '0.12'
    - nodejs_version: '4'
    - nodejs_version: '5'
    - nodejs_version: '6'
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install -g npm@latest || (timeout 30 && npm install -g npm@latest)
  - npm set fetch-retry-maxtimeout 180000
  - npm install || (timeout 30 && npm install)
matrix:
  fast_finish: true
build: off
version: '{build}'
test_script:
  - node --version
  - npm --version
  - npm run test -- --concurrency 1
